.card-video {
    display: flex;

}

.card-video img {
    width: 350px;
    height: 250px;
    border-radius: 10px;
}

.card-video:hover {
    background: #eeeeee;
    overflow: hidden;
    border-radius: 10px;
}

.card-video .author img {
    height: 35px;
    width: 35px;
}




/* CSS responsive */

@media screen and (max-width: 567px) {
    .card-video img {
        width: 150px;
        height: 100px;
        border-radius: 10px;
    }

    .card-video .author img {
        height: 15px;
        width: 15px;
    }
}

@media (min-width:768px) {
    .card-video img {
        width: 200px;
        height: 150px;
        border-radius: 10px;
    }

    .card-video .author img {
        height: 20px;
        width: 20px;
    }
}

@media screen and (min-width: 1024px) {

    .card-video img {
        width: 300px;
        height: 200px;
        border-radius: 10px;
    }

    .card-video .author img {
        height: 25px;
        width: 25px;
    }
}
