@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #212529
}

a {
  text-decoration: none;
}

p {
  line-height: 28px;
  color: #212529;
}


/* CSS responsive */

@media screen and (max-width: 567px) {
    html {
      font-size: 10px;
    }
}

@media (min-width:768px) {
  html {
    font-size: 12px;
  }
}

@media screen and (min-width: 1024px) {

    html {
      font-size: 14px;
    }
}